.author-social {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 1px solid red;
}

.author_info {
  display: grid;
  grid-template-columns: 100px 250fr;
  grid-template-rows: 1fr 1fr;
  border: 2px solid red;
}

.author_info .avatar-img {
  grid-area: 1/1/1/1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid black;
  box-sizing: border-box;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.author_name_title {
  border: 1px solid red;
  grid-area: 1/2/1/2;
}
.author_company_bio {
  border: 1px solid red;
  grid-area: 2/2/2/2;
}

.author_info .name {
}
.author_info .title {
}
.author_info .company {
}
.author_info .bio {
}

.twitter {
  width: 5%;
  height: 5%;
}

.facebook {
  width: 5%;
  height: 5%;
}

.linkedin {
  width: 5%;
  height: 5%;
}
