body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 2.2em;
  letter-spacing: -0.02em;
  line-height: 200%;
}
h2 {
  font-size: 1.7em;
  letter-spacing: -0.02em;
  line-height: 200%;
}

h3 {
  font-size: 1.27em;
  letter-spacing: -0.02em;
  line-height: 200%;
}

p {
  font-size: 18px;
  line-height: 200%;
  text-align: justify;
  text-justify: auto;
  letter-spacing: 0.1em;
  font-weight: normal;
}

strong {
  font-weight: bolder;
}
.quote {
  font-style: italic;
  margin-left: 10vh;
  margin-bottom: 5vh;
  border-left: 2px solid lightslategrey;
  padding-left: 10px;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.08em;
}
a:hover {
  cursor: pointer;
  color: #d0daee;
}

/* header */
#header-text {
  font-weight: bolder;
  font-size: 30px;
}

/* nav */
.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  background-color: white;
}

.navbar {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 599px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container {
  margin: 15vh;
}

@media screen and (max-width: 755px) {
  .container {
    margin: 4vh;
  }
}

/* design system */
#design-system-h1 {
  text-align: center;
  margin-bottom: 10vh;
}

.design-header {
  text-decoration: underline;
}

/* color */

.content {
  margin-left: 10vh;
}

@media screen and (max-width: 599px) {
  .content {
    margin: 2vh;
  }
}

.space-between {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

@media screen and (max-width: 850px) {
  .space-between {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.color-1 {
  width: 70px;
  height: 70px;
  background-color: #7a89c0;
  border-radius: 50%;
}
.color-2 {
  width: 70px;
  height: 70px;
  background-color: #d0daee;
  border-radius: 50%;
}
.color-3 {
  width: 70px;
  height: 70px;
  background-color: #fedd5c;
  border-radius: 50%;
}

.color-text {
  display: inline;
  text-align: center;
  font-size: 12px;
  vertical-align: baseline;
}

@media screen and (max-width: 755px) {
  .color-text {
    display: flex;
    padding-left: 9px;
  }
}

/* list */

.ul {
  line-height: 2rem;
}

.ol {
  line-height: 2rem;
}

/* avatar */

.avatar-img {
  grid-area: 1/1/1/1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-sizing: border-box;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button */

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

@media screen and (max-width: 755px) {
  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.card-btn {
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  width: 80px;
  height: 40px;
  background-color: #d0daee;
  text-decoration: none;
  text-align: center;
  padding: 11px;
  color: black;
}

.btn-outlined {
  border: 1px solid #d0daee;
  background-color: white;
}

.btn-hover {
  background-color: #fedd5c;
  text-decoration: none;
}

/* author */

.author-social {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 755px) {
  .author-social {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px;
  }
}

@media screen and (max-width: 599px) {
  .author-social {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px;
  }
}
.author_info {
  display: grid;
  grid-template-columns: 80px 200px;
  grid-template-rows: 100px;
}

.avatar-img {
  grid-area: 1/1/1/1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-sizing: border-box;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.author-name {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0px;
  letter-spacing: -0.05rem;
}

.author-title {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: -0.01rem;
}

/* social */

.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-item {
  padding: 0.3rem;
}

.twitter {
  width: 30px;
  object-fit: cover;
}

.facebook {
  width: 30px;
  object-fit: cover;
}

.linkedin {
  width: 30px;
  object-fit: cover;
}

/* subscribe */

.cards {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

#subscribe-container {
  margin-top: 10vh;
}
@media screen and (max-width: 599px) {
  #subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.subscribe-header {
  text-align: center;
  padding: 2rem;
}

@media screen and (max-width: 599px) {
  .subscribe-header {
    text-align: center;
    margin: auto;
  }
}

.subscribe-email {
  display: flex;
  justify-content: center;
  gap: 1em;
}

@media screen and (max-width: 599px) {
  .subscribe-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }
}

.email-input {
  width: 400px;
  border-radius: 25px;
  border: solid 1px;
  border-color: #7a89c0;
  padding: 1em;
}

@media screen and (max-width: 599px) {
  .email-input {
    width: 250px;
    border-radius: 25px;
    border: solid 1px;
    border-color: #7a89c0;
    padding: 1em;
  }
}

.subscribe-btn {
  width: 10vh;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  width: 80px;
  height: 40px;
  margin: auto;
  background-color: #d0daee;
  text-decoration: none;
  text-align: center;
  padding: 11px;
  color: black;
}

.subscribe-btn:hover {
  background-color: #fedd5c;
  text-decoration: none;
}

/* footer */

.footer {
  margin: 0 auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #7a89c0;
  position: relative;
}

.copyright {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  letter-spacing: -0.01em;
}
