/* avatar */

.avatar-img {
  grid-area: 1/1/1/1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-sizing: border-box;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
