.cards {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.card {
  display: grid;
  grid-template-columns: 400px 100px 300px;
  grid-template-rows: 66px 100px 50px;
  border-radius: 12px;
  padding: 18px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .card {
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows: 80px 300px 100px 100px;
    border-radius: 12px;
    padding: 18px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

@media screen and (max-width: 599px) {
  .card {
    display: grid;
    grid-template-columns: 140px 100px;
    grid-template-rows: 80px 200px 200px 50px 50px;
    border-radius: 12px;
    padding: 18px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.card-img {
  grid-area: 1/3/4/3;
  width: 280px;
  height: 180px;
  border-radius: 24px;
  margin-left: auto;
  object-fit: cover;
}
.crop-camping {
  object-position: bottom;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-img {
    grid-area: 2/1/3/3;
    border-radius: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3rem;
    margin-top: 1rem;
    place-self: center;
    object-fit: cover;
    width: 450px;
    height: 300px;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .crop-camping {
    object-position: bottom;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .crop-coffee {
    object-position: 25%;
  }
}
@media screen and (max-width: 599px) {
  .crop-camping {
    object-position: bottom;
  }
}

@media screen and (max-width: 599px) {
  .card-img {
    grid-area: 2/1/3/3;
    border-radius: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3rem;
    margin-top: 1rem;
    place-self: center;
    object-fit: cover;
    width: 250px;
  }
}
.card-header {
  grid-area: 1/1/1/1;
  font-size: 22px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-header {
    grid-area: 1/1/1/3;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 599px) {
  .card-header {
    grid-area: 1/1/1/3;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.card-content {
  grid-area: 2/1/3/1;
  font-size: 16px;
  overflow: hidden;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-content {
    grid-area: 3/1/4/3;
    font-size: 16px;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 450px;
    place-self: center;
    text-align: justify;
  }
}

@media screen and (max-width: 599px) {
  .card-content {
    grid-area: 3/1/4/3;
    font-size: 13px;
    margin: 0.5rem;
    max-width: 250px;
    overflow: hidden;
    text-align: justify;
  }
}

/* card-button */
.btn-outlined {
  border: 1px solid #d0daee;
  background-color: white;
}

.btn-hover {
  background-color: #fedd5c;
  text-decoration: none;
}

.card-btn {
  grid-area: 3/2/3/2;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  width: 80px;
  height: 40px;
  margin: auto;
  background-color: #d0daee;
  text-decoration: none;
  text-align: center;
  padding: 11px;
  color: black;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-btn {
    display: inline;
    grid-area: 4/2/4/3;
    margin-right: 10px;
  }
}
@media screen and (max-width: 599px) {
  .card-btn {
    display: inline;
    grid-area: 5/2/6/3;
    margin-right: 10px;
  }
}

.card-btn:hover {
  background-color: #fedd5c;
  text-decoration: none;
}

.card-tag-div {
  grid-area: 3/1/3/1;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

.card-tag {
  background-color: rgb(236, 236, 236);
  color: grey;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  width: 70px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
}

.card-tag:hover {
  background-color: #fedd5c;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-tag-div {
    grid-area: 1/2/2/3;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: baseline;
  }
}

@media screen and (max-width: 599px) {
  .card-tag-div {
    grid-area: 4/1/5/2;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (max-width: 599px) {
  .card-tag {
    font-size: 8px;
    padding-top: 6px;
  }
}
