/* header */
#header-text {
  font-weight: bolder;
  font-size: 30px;
}

/* nav */
.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  background-color: white;
}

.navbar {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 599px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
